<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>Q7</title>
</head>
<body>
    <header id="main-header">
        <div class="container">
            <a href="/" style="text-decoration:none"><h1 style="color:white;">ELIDEK PROJECT FUNDS</h1></a>
        </div>
    </header>
    <div>
        <div class="fchild2">
            <h4>Researchers:</h4>
            {% for i in range(size7) %}
                <h3>{{data7[i][0]}}</h3>
            {% endfor %}
        </div>  
        <div class="fchild2">
            <h4>Companies:</h4>
            {% for i in range(size7) %}
                <h3>{{data7[i][1]}}</h3>
            {% endfor %}
        </div> 
        <div class="fchild2">
            <h4>Ammounts:</h4>
            {% for i in range(size7) %}
                <h3>{{data7[i][2]}}</h3>
            {% endfor %}
        </div> 
    </div>
</body>
</html>