<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">

</head>
<body>
    
    <header id="main-header">
        <div class="container">
            <h1 id="cent_div" style="text-align:center">ELIDEK PROJECT FUNDS</h1>
        </div>
    </header>
    
    <main>
        <p style="text-align:center">
            <a href="/triantaena" style="text-decoration:none"><button class="button-17" role="button">Tasks and its researchers by criteria</button></a> <br><br>
            <a href="/triantadyoa" style="text-decoration:none"><button class="button-17" role="button">Tasks by researcher</button></a> <br><br>
            <a href="/triantadyob" style="text-decoration:none"><button class="button-17" role="button">Tasks by organization</button></a> <br><br>
            <a href="/triantatria" style="text-decoration:none"><button class="button-17" role="button">Show the active tasks working in a specific field and the researcher that worked in this field last year</button></a> <br><br>
            <a href="/triantatesera" style="text-decoration:none"><button class="button-17" role="button">Organizations with the same ammount of tasks for 2 concecutive years</button></a> <br><br>
            <a href="/triantapente" style="text-decoration:none"><button class="button-17" role="button">Top 3 pairs of scientific fields with the most tasks</button></a> <br><br>
            <a href="/triantaeji" style="text-decoration:none"><button class="button-17" role="button">Researchers under 40 years old with the most active tasks</button></a> <br><br>
            <a href="/triantaefta" style="text-decoration:none"><button class="button-17" role="button">Top 5 executives with highest amount of funds given to a Company</button></a> <br><br>
            <a href="/triantaoktw" style="text-decoration:none"><button class="button-17" role="button">Researchers working in 5 or more tasks without deliverables</button></a> <br><br>
        </p>
    </main>
    
    <footer>

    </footer>


</body>
</html>